body { 
    background-color: #f1f1f1;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin:0;  
    padding:0;
    box-sizing: border-box; 
}
.nav-bar{
    width: 100%;
    background-color: #ffffff;
    overflow:auto;
}
.nav-bar a{
    float: left;
    color: #000000;
    text-align: center;
    font-size: 16px;
    padding: 14px 16px;
}
.active{
    background-color: #f44336;
    color: #ffffff;
}
.nav-bar a.split{
    float:right;
    color:black;
    background-color:#F4F6F6 ;
}
a.split:hover{
    background-color: #E5E8E8 ;
}
a:hover{
    background-color: #BFC9CA;
}
.hotel {
    background-image: url('pictures/hotel.jpg');
    width: 1500px;
    min-width: 1000px;
    max-width:100%;
    height: 800px;
  }
.available {
    box-sizing: border-box;
    float: left;
    position: absolute;
    top: 30%;
    left: 10%;
    width:45%;
    background-color: #ffffff;
}
.available h2 {
    font-size: 30px;
    font-weight: 400;
    margin:0;
    padding: 5px 5px;
    background-color: #f44336;
    color:#ffffff;
}
form {
    background-color: #ffffff;
    margin: 10px;
}
.field1 {
    font-size: 15px;
    line-height: 1.5;
    color: #000000;
    box-sizing: border-box;
    padding: 0 5px;
    margin: 0; 
}
.field2 {
    font-size: 15px;
    line-height: 1.5;
    color: #000000;
    box-sizing: border-box;
    float: left;
    width: 49.99999%;
    margin-bottom: 16px;
    padding: 0 8px;
}
input[type=date], input[type=number] {
    box-sizing: inherit;
    font: inherit;
    margin: 0;
    overflow: visible;
    padding: 8px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    }

.available button {
        box-sizing: inherit;
        font: inherit;
        margin: 0;
        text-transform: none;
        border: none;
        display: inline-block;
        padding: 8px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        user-select: none;
        color: #ffffff;
        background-color: #616161;
    }
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}
h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    }
.room_section {
    margin: 10px;
    padding: 10px;
    color: #000000;
    width:100%;
    height:auto;
}
.single-room, .double-room, .deluxe-room {
    width:30%;
    margin: 5px;
    box-sizing: border-box;
    float:left;
}
.room {
    margin:0;
    padding: 0;
    border: 1px solid #cac2c2;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.room button {
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    font: inherit;
    margin:0;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.room_section img {
    width: 100%;
    margin: 0;
}
.room h2 {
    color: #000000;
}
.contact {
    padding:0 8px;
    background-color: #cac2c2;
}
.subscription {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    height:auto;
    margin: 1px 0;
    padding: 10px;
}

